/* 
1. Posicionamiento
2. Modelo de caja 
3. Tipografia
4. Visuales (border, shadows)
5. Otros 
 */

:root {
  --pink-primary: #ee4c7c;
  --pink-secondary: #ed2560;
  --pink-soft: #e19bb0;
  --white-text: #ffffff;
  --white-bg: #e5e5e5;
  --white-off: #eeebeb;
  --black: #2e2b2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
}

.header-contact {
  text-align: end;
  height: 40px;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 70px 0 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 65px;
  background-color: var(--pink-primary);
}

.header-img--container {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: calc(73%);
  left: 106px;
  height: 162px;
  width: 245px;
  background-color: var(--white-text);
}

.header-img__deco-top {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 101px;
  bottom: calc(72.3%);
  border: solid var(--pink-primary) 5px;
}

.header-img__deco-bottom {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 106px;
  bottom: calc(90%);
  border: solid var(--pink-primary) 5px;
}

header img {
  width: 200px;
  height: 98px;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 50px;
  text-align: center;
}

li {
  height: 100%;
  width: fit-content;
  padding: 20px 22px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white-text);
}

ul :hover {
  background-color: var(--pink-soft);
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 530px;
  min-width: 100%;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner--title {
  margin: 152px 0 0 157px;
  font-size: 30px;
  font-weight: 400;
}

.banner--text {
  margin: 0 0 0 157px;
}

.banner--title span {
  color: var(--pink-primary);
}

.banner--title__bold {
  font-weight: 500;
}

.banner--text {
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 93px 0 0 0;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.services img {
  position: absolute;
  left: calc(50% - 150px);
  width: 28px;
  z-index: -1;
}

.services--title {
  font-size: 30px;
  font-weight: 600;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 59px;
}

.card__framework--deco {
  position: absolute;
  left: calc(-5%);
  bottom: calc(-5%);
  z-index: -2;
  width: 165px;
  height: 241px;
  border: solid 5px var(--pink-primary);
}
.card--content {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 346px;
  height: 549px;
  box-shadow: -1px 1px 7px 6px #00000012;
}

.card img {
  position: relative;
  align-self: center;
  width: 270px;
  margin: 21px 0 34px 0;
}

.card h4 {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.card p {
  position: relative;
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: 300;
}

.card button {
  position: relative;
  align-self: center;
  height: 39px;
  width: 135px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--white-text);
  background-color: var(--pink-secondary);
}

.card button:active {
  background-color: var(--white-off);
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 160px;
  background-color: var(--pink-primary);
  padding: 0 168px;
  margin: 123px 0 43px 0;
}

footer > div {
  display: grid;
  align-items: center;
  color: var(--white-text);
  margin: 25px 0;
}

.depilive-brand {
  position: relative;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.depilive-brand--logo {
  align-self: flex-end;
}

.depilive-brand--logo h5 {
  font-size: 30px;
  font-weight: 500;
}

.depilive-brand--logo p {
  position: absolute;
  left: calc(50%);
  top: calc(45%);
  margin-bottom: 20px;
  font-size: 6px;
  font-weight: 400;
}

.depilive-brand--copyright {
  font-size: 9px;
  font-weight: 600;
}

div h6 {
  font-size: 18px;
  font-weight: 600;
}

.about-us p,
.policies p {
  font-weight: 500;
  font-size: 14px;
}

.icons--container {
  display: flex;
  gap: 48px;
}
