/* 
1. Posicionamiento
2. Modelo de caja 
3. Tipografia
4. Visuales (border, shadows)
5. Otros 
 */

:root {
  --pink-primary: #ee4c7c;
  --pink-secondary: #ed2560;
  --pink-soft: #e19bb0;
  --white-text: #ffffff;
  --white-bg: #e5e5e5;
  --white-off: #eeebeb;
  --black: #2e2b2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

.header-contact {
  text-align: end;
  height: 40px;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 65px;
  background-color: var(--pink-primary);
}

header img {
  position: absolute;
  width: 245px;
  top: 10px;
  left: 106px;
  border: var(--pink-primary) solid 2px;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 50px;
}

li {
  padding: 0 22px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white-text);
}
