:root {
  --pink-primary: #ee4c7c;
  --pink-secondary: #ed2560;
  --pink-soft: #e19bb0;
  --white-text: #ffffff;
  --white-bg: #e5e5e5;
  --white-off: #eeebeb;
  --black: #2e2b2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}
