/* 
1. Posicionamiento
2. Modelo de caja 
3. Tipografia
4. Visuales (border, shadows)
5. Otros 
 */

:root {
  --pink-primary: #ee4c7c;
  --pink-secondary: #ed2560;
  --pink-soft: #e19bb0;
  --white-text: #ffffff;
  --white-bg: #e5e5e5;
  --white-off: #eeebeb;
  --black: #2e2b2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

.header-contact {
  text-align: end;
  height: 40px;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 70px 0 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 65px;
  background-color: var(--pink-primary);
}

header img {
  position: absolute;
  width: 245px;
  top: 10px;
  left: 106px;
  border: var(--pink-primary) solid 2px;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 50px;
  text-align: center;
}

li {
  height: 100%;
  width: fit-content;
  padding: 20px 22px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white-text);
}

ul :hover {
  background-color: var(--pink-soft);
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 530px;
  min-width: 100%;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner--title {
  margin: 152px 0 0 157px;
  font-size: 30px;
  font-weight: 400;
}

.banner--text {
  margin: 0 0 0 157px;
}

.banner--title span {
  color: var(--pink-primary);
}

.banner--title__bold {
  font-weight: 500;
}

.banner--text {
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 93px 0 0 0;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.services img {
  position: absolute;
  left: calc(50% - 150px);
  width: 28px;
  z-index: -1;
}

.services--title {
  font-size: 30px;
  font-weight: 600;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 59px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 346px;
  height: 549px;
  box-shadow: -1px 1px 7px 6px #00000012;
}

.card img {
  align-self: center;
  width: 270px;
  margin: 21px 0 34px 0;
}

.card h4 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.card p {
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: 300;
}

.card button {
  align-self: center;
  height: 39px;
  width: 135px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--white-text);
  background-color: var(--pink-secondary);
}

.card button:active{
  background-color: var(--white-off);
}